/* main{
    background-image: url(../img/Tribuna_uffizi.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
    background-color:rgb(229, 229, 229);
    width: 100%;
    min-height: 700px;
} */

.inicio-logo{
        padding-left: 15%;
        min-height: 7px;
}
